/* 편지 이미지 슬라이더 스타일 */
.letter-slider {
  width: 85%;
  height: 700px; 
  margin: 0 auto; 
  overflow-y: scroll; /* 세로 스크롤 활성화 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
  -webkit-overflow-scrolling: touch; /* 부드러운 스크롤을 위한 설정 (iOS용) */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.letter-slides-container {
  flex-direction: column; /* 세로 방향으로 슬라이드 정렬 */
}

.letter-slide {
  height: auto; 
  width: 100%; 
  object-fit: cover; 
  margin: 10px 0; /* 사진 간의 간격 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.guide {
  text-align: center; 
  margin: 30px 0; 
  font-size: 12px; 
  color: #5b5b5b; 
}
